@import '../theme.module.scss';

.container{

    @include section_container;
    // border: 1px solid black;


    .btn{
        float: left;
    }

    .title{
        @include section_title_light;
    }

    .deviceContainer{

        .deviceHeader{
            @include section_title_light;
            font-size: $heading_md;
            // text-align: left;
        }

        .controlBox{
            display: flex;
            // grid-template-columns: 1fr 1fr 1fr 1fr;
            flex-wrap: wrap;
            grid-gap: $default_gap;
        }
    }
}