@import '../theme.module.scss';

.icon{
    height: 8em;
    width: 8em;
}

.container{
    @include box_style_compelation;
    // @include box_hover;

    .topContainer{
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        border-bottom: 3px solid black;
        padding-bottom: 2em;

        .bottomContainer{

        }

        .controls{
            @include box_style_compelation;
            @include box_hover;
        }

        .title{
            font-size: $heading_lg;
        }
    }

    .bottomContainer{
        display: grid;
        grid-template-columns: 1.5fr .01fr 3fr;
        margin: .5em auto auto auto;
        grid-gap: 5em;

        .descriptionContainer{

            .descriptionTitle{
                text-align: left;
            }

            .description{
                @include p_graph;
            }
        }

        .split{
            background-color: black;
            // height: 2em;
            margin-top: 2em;
        }

        .deviceContainer{

            .deviceTitle{
                // border-bottom: 3px solid black;
            }

            .nestedDevice{
                display: grid;
                grid-gap: 1em;
                // border-left: 3px solid black;
            }
        }
    }

}